.main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:  
  'btn-volver btn-volver'
  'col-login   col-register'
                        ;
  grid-template-rows: auto;
  justify-content: center !important; 
  align-content: center;
  width: 100vw;
  gap: 2rem;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    -45deg, 
    rgba(0, 0, 0, 0.974) 5%, 
    rgba(158, 146, 69, 0.83) 25%, 
    rgba(253, 176, 76, 0.652) 60%, 
    rgb(12, 14, 2) 100%
); 

animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.main > div {
  width: 55%;
  height: 100%;
}

.main .col-login{
  grid-area: col-login;
  background-color: rgba(255, 172, 42, .4);
  border-radius: 7px 0 0 7px;
  justify-self: end;
  padding: 25px;
}

.main .col-register{
  grid-area: col-register;
  background-color: rgba(0,0,0,.40);
  border-radius: 0 7px 7px 0;
  padding: 25px;
}

.main .btn-volver{
  background-color: rgba(0,0,0,.40);
  grid-area: btn-volver;
  text-align: center;
  justify-self: center;
  padding: 10px;
  cursor: pointer;
  transition: all .3s ease;
  transform: translateY(40%);
}

.main .btn-volver:hover{
  background-color: rgba(0, 0, 0, .68);
  
}

.main .btn-volver a {
  text-decoration: none;
  color: white;
  padding: 10px;
  /* background-color: rgba(0, 0, 0, .50); */
}

.inputIngresar{
  margin-top: -7%;
}

.form-login > h1{
  display: flex;
  justify-content: center;
  font-style: italic;
}

.form-register > h1{
  display: flex;
  justify-content: center;
  font-style: italic;
}

.botonLogin{
  display: flex;
  justify-content: center;
  margin-top: 30%;
}

.botonLogin > button{
  width: 10rem;
  height: 2.5rem;
}

.botonGoogle{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.botonRegist{
  display: flex;
  justify-content: center;
}

.botonRegist > button{
  width: 10rem;
  height: 2.5rem;
}

.logobigote{
  margin-top: 10%;
  margin-bottom: 10%;
}

.logobigote > img{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 4rem;
  margin: 0;
  /* transform: translate(150%); */
  margin-left: 40%;
}




/* media queries */
@media screen and (max-width: 650px){
  .main{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 2fr; */
  }
}

