.allContainerChat {
    width: 25rem;
    height: 30rem;
}

.containerChat {
    display: flex;
    justify-content: center;
}

.botonAyuda {
    transform: translateX(50%);
}

.botonAyuda>button {
    float: right;
    border-radius: 100%;
    margin-right: 50%;
    width: 5rem;
    border: none;
}

.botonAyuda>button>img {
    margin-left: -55%;
    width: 7rem;
}