    .containerDetail{
     display: grid; 
     place-items: center;
    margin-top: 4rem;
    text-transform: capitalize;
        padding: 80px;
    
}

.letra{
    font-family: 'Mulish', sans-serif;
}

 img.izquierda {
     float: left; 
} 

.derecha {
    float: right;

}
.media {
    display: flex;
    align-items: flex-start;
}

.media2 {
    flex: 1;
    padding: 90px;

}

.boton {
    background-color: rgba(2, 2, 2, 0.573);
    border: none;
    padding: 10px;
    border-radius: 15px;
    color: rgba(248, 248, 248, 0.801);
    margin-top: 1rem;
    margin-left: 1rem;
} 

.fotoBarber {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'col-login   col-register''btn-volver btn-volver';
    grid-template-rows: auto;
    justify-content: center !important;
    align-content: center;
    background-image: url('../../assets/barber.jpg');
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}