.main-perfil {
    color: black;
    display: grid;
    grid-template-columns: 250px 1fr;
    color: black;
    display: grid;
    width: 100vw;
    height: 100vh;
}

.main-perfil nav {
    background-color: white;
    width: 250px;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.main-perfil nav .img-perfil {
    border: 1px solid black;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-top: 30px;
    margin-left: 44px;
    text-align: center;
}

.main-perfil nav .img-perfil img {
    position: relative;
    left: -180px;
    height: 150px;
    width: 150px;
}

.main-perfil nav .mas-opciones {
    position: absolute;
    top: 570px;
    left: 45px;
}

.main-perfil nav ul li a {
    color: black;
    text-decoration: none;
}

.link-admin {
    color: white !important;
}


.pointer {
    cursor: pointer;
}

/* section */
.main-perfil section {
    padding: 25px;
    display: grid;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
}

.pointer {
    cursor: pointer;
}