/* 
.form-control{
    height: 30px;
}

.btn{
    height: 30px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
} */

.formSearch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-left: -10%;
}

.formSearch > input{
    width: 10rem;
    height: 2em;
    width: 10rem;
}

.formSearch > button{
<<<<<<< HEAD
    padding: 3px;
}
=======
    height: 2em;
<<<<<<< HEAD
}
>>>>>>> f45f6c7d047da1c911025a6f00f1f53fb7b847ec
=======
    padding: 3px;
}
>>>>>>> 2f75286381889acdc5ad84dab25952a008358717
