/* 
.form-control{
    height: 30px;
}

.btn{
    height: 30px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
} */

.formSearch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-left: -5%;
}

.formSearch > input{
    width: 10rem;
    height: 2em;
}

.formSearch > button{
    padding: 3px;
}