.containerTienda{
    color: white;
    font-family: Montserrat;
    margin-bottom: 20px;
    letter-spacing: 10px;
    width: 50rem;
    height: 5rem;
    background-color: black;
    text-shadow: rgb(255, 145, 0) 0 0, cyan 0 0;
    transition: text-shadow 200ms;
    margin-left: 17rem;
}

.containerTienda > h1{
    font-weight: bold;
}

.containerTienda:hover{
    text-shadow: rgb(255, 145, 0) -10px 0, cyan 6px 0;
}

.cardsTienda{
    display: grid;
    grid-auto-rows: 35rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.LinkDetail{
    text-decoration: none;
    color: white;
}

.navbarTienda{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.botonVolver{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.LinkVolver{
    text-decoration: none;
}

.LinkDetail{
    color: white;
}

.LinkDetail:hover{
    color: rgb(82, 82, 82);
}

.LinkDetail > button{
    background-color: transparent;
    color: white;
    border: none;
    margin-bottom: 2rem;
}

.buttonComprar{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.buttonComprar > button {
    padding: 1.2rem;
}

.searchbar{
    width: 20rem;
}

.botonOrdenar{
    background-color: black;
    color: white;
    font-weight: lighter;
}

.allCarrito{
    display: none;
}

.botonCarrito{
    background-color: transparent;
    border: none;
    width: 1rem;
}

.divCarrito{
    display: flex;
    justify-content: center;
    margin-right: 5rem;
}

.buttonup > a{
    position: fixed;
    right: 1rem;
    bottom: 4rem;
    background-color: transparent;
    border: none;
}

.buttonup > img{
    width: 200px
}
