

.containerTienda{
    color: white;
    font-family: Montserrat;
    margin-bottom: 10px;
    /* margin-top: 5px; */
    letter-spacing: 7px;
    align-items: center;
    width: 15rem;
    background-color: black;
    text-shadow: rgb(255, 145, 0) 0 0, cyan 0 0;
    transition: text-shadow 200ms;
    transform: translate(20rem);
}


.containerTienda > h5{
    font-weight: bold;
    margin-top: 10px;
}

.containerTienda:hover{
    text-shadow: rgb(255, 145, 0) -1px 4px, cyan 6px 0;
}

.cardsTienda {
    display: grid;
    grid-auto-rows: 35rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.LinkDetail {
    text-decoration: none;
    color: white;
}

.navbarTienda {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.botonVolver {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.LinkVolver {
    text-decoration: none;
}

.LinkDetail {
    color: white;
}

.LinkDetail:hover {
    color: rgb(82, 82, 82);
}

.LinkDetail>button {
    background-color: transparent;
    color: white;
    border: none;
    margin-bottom: 2rem;
    z-index: 2;
}

.buttonComprar {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.buttonComprar>button {
    padding: 1.2rem;
}


.botonOrdenar{
    background-color: transparent;
    color: white;
    font-weight: lighter;
}

.contOrder {
    margin-left: 1rem;
}

.allCarrito {
    display: none;
}

.botonCarrito{
    margin-left: 1rem;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    border: none;
    width: 4rem;
    height: 4rem;
}

.divCarrito {
    display: flex;
    float: right;
}



.buttonup > a{
    position: fixed;
    right: 1rem;
    bottom: 4rem;
    background-color: transparent;
    border: none;
}

.buttonup>img {
    width: 200px
}

.divNavbarTienda{
    display: flex;
    justify-content: space-around;
    background-color: rgb(49, 49, 49);
}

.navbar-brandtienda {
    width: 60px;
    height: 50px;
    background-size: 100%;
    margin-top: -20px;
    background-image: url("https://images.vexels.com/media/users/3/132674/isolated/preview/5de3fc4efa4d8ff72773bfc119c1a8e9-bigote-blanco-hipster-3.png");
}

.carritoContainer {
    margin-left: 62%;
}

.navbar-brandtienda{
    width: 60px;
     height: 50px;
     background-size: 100%;
     margin-top: -20px;
     background-image: url("https://images.vexels.com/media/users/3/132674/isolated/preview/5de3fc4efa4d8ff72773bfc119c1a8e9-bigote-blanco-hipster-3.png");
}

 /* .carritoContainer{
     margin-left: -1rem;
} */

.numeroitems{
    position: relative;
    color: orange;
    font-weight: bold;
    font-size: 1.2rem;
    transform: translate(2rem, -.5rem);
}

/* .containernavbartienda {
    transform: translate(2rem,-.5rem);
}  */

.containernavbartienda{
    display: flex;
    justify-content: space-around;
}

.imgCarrito{
    position: absolute;
    z-index: -1;
    margin: 0;
}

.generalcont{
    display: flex;
    justify-content: space-around;
}

.searchbar{
    margin-top: 5px;
    margin-left: 160%;
    color: white;
}

.dropContainer{
    transform: translate(10rem);
}

.botonChat{
    z-index: 1;
}

