.pageNumbers {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: black;
    gap: 10px;
	
	
}

.pageNumbers > li {
    box-shadow: 3px 7px 10px 1px #080808;
	background:linear-gradient(to bottom, #E38C02 39%, #ffe608 100%);
	background-color:#2b2b2b;
	border-radius:15px;
	border:0.25px solid #1b1b1b;
	display:inline-block;
	cursor:pointer;
	color: black;

	text-decoration:none;
	text-shadow:0px 2px 0px #505050;
	
	
}

.pageNumbers > li > button:hover {
	background:linear-gradient(to bottom, #000000 5%, #080808 100%);
	background-color:#ffcb05;
    color: white;
	border-radius:10px;
	box-shadow: 3px 7px 50px 1px #080808;
	font-size:15px;
	
	
	
	
}
.pageNumbers > li:active {
	position:relative;
	top:5px;
}

.pageNumbers > li>button{
	border: none;
	background-color: transparent;
	width: 2rem;
	height: 2rem;
	border-radius:30px;
	
}



