.sliderOne {
    height: 100vh;
    max-height: 37rem;
    background-size: cover;
    background-image: url("https://www.comunicare.es/wp-content/uploads/2021/01/Publicidad-para-barberia.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.sliderTwo {
    height: 100vh;
    max-height: 37rem;
    background-size: cover;
    background-image: url("https://joseppons.com/formacion/wp-content/uploads/2020/11/servicios-salon-barberia.jpeg");
    background-position: center;
    background-repeat: no-repeat;
}

.sliderThree {
    height: 100vh;
    max-height: 37rem;
    background-size: cover;
    background-image: url("https://buenosairesbarbershop.com/assets/img/bg/barberia_byn.jpg");
    background-position: center;
    background-repeat: no-repeat;
}