

.containerCard{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 8px 10px #000;
    background-color: rgba(5, 5, 5, 0.25);
    width: 450px;
    border-radius: 20px;
    margin-top: 2rem;
    position: relative;
}

.containerImg{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

img{
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 550px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 12rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .botonTiendaComprar {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    margin-bottom: -2px;
} 

.containerText > h3 {
    font-family: Gelasio;
}

.containerText > h3 > i b{
    font-family: Gelasio;
}

.linkComprarTienda{
    text-decoration: none;
}